<div>
<label for="type">Type</label>
<input type="text" id="type" name="type" placeholder="What type of hat is it?"/>

<label for="color">Color</label>
<input type="text" id="color" name="color" placeholder="What color is the hat?"/>

<label for="material">Material</label>
<input type="text" id="material" placeholder="What is the hat made of?"/>
<label for="facts">Facts</label><br/>
<textarea id="facts" name="facts" placeholder="Tell us something amazing about this hat"></textarea>
<input type="submit" value="Submit">
</div>