<h1 id="user" name="user" style="color: white" >Hey {{currentUser.firstName}}</h1>
<ul class="pickHatDivs">
<li>
<div id="HatOfTheDay" >
  <h3 class="titleH3">Hat Of The Day</h3>
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="{{currentUser.hatOfTheDay.images}}">
      </div>
      <div class="contentBx">
        <h2>{{currentUser.hatOfTheDay.type | titlecase}}</h2>
      
        <div class="size">
            <h3>Did you know? <br/>
            {{currentUser.hatOfTheDay.facts}}</h3>

        <div><a href="{{url}}" (click)="WearHat(currentUser.hatOfTheDay.id)">Wear this Hat</a></div>
      </div>
    </div>
  </div>
</div>
</div>
</li>
<li>
<h3 class="titleH3">Choose a Different Hat</h3>
<div id="pickAHat">
<div *ngFor="let notAll of allHats">
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="{{notAll.images}}">
      </div>
      <div class="contentBx">
        <h2>{{notAll.type | titlecase}}</h2>
     
        <div class="size">
            <h3>Did you know? <br/>
            {{notAll.facts}}</h3>
        </div>            
        <div><a href="{{url}}" (click)="WearHat(notAll.id)">Wear this Hat</a></div>
      </div>
    </div>
  </div>
</div>
</div>
</li>
</ul>
<div id="recentlyWorn">
<h3 class="titleH3">Recently Worn </h3>

<div class = 'cardDeck'>
    <div *ngFor="let hat of currentUser.worn30">
        <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="{{hat.images}}">
              </div>
              <div class="contentBx">
                <h2>{{hat.type | titlecase}}</h2>
               
                <div class="size">
                    <h3>Did you know? <br/>
                    {{hat.facts}}</h3>
                </div>            
                <div><a href="{{url}}" (click)="WearHat(hat.id)">Wear this Hat</a></div>
              </div>
            </div>
          </div>
          <br/>
    </div>
</div>




